
// Calendar View
// -----------------------------------------------------------------+

.calendar-nav {
	background: rgba($color-grey, 0.2);
	border: 1px solid rgba($color-grey, 0.2);
	display: flex;
	font-weight: bold;
	margin-bottom: 3em;
	text-align: center;
	text-transform: uppercase;

	li {
		display: flex;
		flex: 1;
		margin: 0;

		a {
			color: $color-grey;
			display: block;
			padding: 5px;
			text-decoration: none;
			width: 100%;

			&:hover,
			&:focus {
				color: $color-grey-dark;
			}
		}

		span {
			background: rgba($color-white, 0.9);
			color: $color-grey-dark;
			display: block;
			padding: 5px;
			width: 100%;
		}
	}
}

.calendar-results {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-around;
	margin-bottom: 3em;

	a {
		background: rgba($color-white, 0.5);
		border: 1px solid rgba($color-grey, 0.2);
		color: $color-grey;
		padding: 0.5em 1em;
		text-decoration: none;

		&:hover,
		&:focus {
			background: $color-white;
		}
	}

	li {
		display: flex;
		flex-basis: calc(33.3% - 1em);
		flex-direction: column;
		line-height: 2;
		margin: 0 0.5em 0.5em 0;

		&.is-preview {
			.team-score {
				display: none;
			}
		}

		&.is-away-winner {
			.team-home {
				color: $color-grey-med-dark;
			}

			.team-away {
				color: $color-grey-dark;
				font-weight: bold;
			}
		}

		&.is-home-winner {
			.team-home {
				color: $color-grey-dark;
				font-weight: bold;
			}

			.team-away {
				color: $color-grey-med-dark;
			}
		}
	}

	.team-row {
		align-items: center;
		display: flex;
	}

	.team-name {
		flex: 9;

		.team-record {
			clear: both;
			display: block;
			font-size: 0.8em;
			font-weight: normal;
			line-height: 1;
			margin-bottom: 0.5em;
		}
	}

	.team-score {
		flex: 1;
		font-size: 1.5em;
		font-weight: normal;
		text-align: center;
	}
}
