
// Score Overview
// -----------------------------------------------------------------+

.game-detail-header {
	align-items: center;
	border-bottom: 1px solid $color-grey-med;
	display: flex;
	padding: 2em 0;
	text-align: center;

	.col {
		align-items: center;
		display: flex;
		flex: 2;
		flex-basis: calc(33.3% - 1em);
		flex-direction: row;
		line-height: 2;

		&.team-away {
			color: $color-grey-dark;
			justify-content: flex-end;
			text-align: right;
		}

		&.team-home {
			color: $color-grey-dark;
			justify-content: flex-start;
			text-align: left;
		}

		&.game-date {
			flex: 1;
			flex-direction: column;
			justify-content: center;
			line-height: 1.5;
			padding: 0 3em;
			white-space: nowrap;

			.game-time {
				font-weight: bold;
			}
		}
	}

	.team-name {
		display: flex;
		flex-direction: column;
		line-height: 1;
		padding: 0 2em;

		.city {
			text-transform: uppercase;
		}

		.name {
			font-size: 2em;
			font-weight: bold;
		}
	}

	.team-score {
		font-size: 3em;
		line-height: 1;
	}

	.team-logo {
		height: 6em;
		width: 6em;
	}
}

// Period Overview
// -----------------------------------------------------------------+

.game-detail-scoreboard {
	color: $color-grey-dark;
	display: flex;
	font-size: 1.2em;
	margin: 2em auto;
	width: 30%;

	.col {
		flex: 1;

		&:last-child {
			font-weight: bold;
		}

		&.teams {
			flex: 3;
		}
	}

	.item {
		border-bottom: 1px solid $color-grey-med;
		display: block;
		padding: 0.5em 0;

		&:first-child {
			color: $color-grey;
			font-size: 0.8em;
		}

		&:last-child {
			border-bottom: none;
		}

		&.goals {
			text-align: center;
		}
	}
}

// Scoring Overview
// -----------------------------------------------------------------+

.game-detail-score-summary {
	color: $color-grey-dark;
	font-size: 1.2em;
	margin: 2em auto;
	width: 50%;
}

.score-summary-header {
	background: $color-grey-dark;
	color: $color-white;
	padding: 0.5em 1em;

	h3 {
		font-size: 1em;
		margin-bottom: 0;
	}
}

.score-summary-period {
	background: $color-white;
	border-left: 1px solid $color-grey-med;
	border-right: 1px solid $color-grey-med;
	border-top: 1px solid $color-grey-med;

	&:last-child {
		border-bottom: 1px solid $color-grey-med;
	}
}

.score-summary-results {
	align-items: center;
	border-bottom: 1px solid $color-grey-med;
	display: flex;
	flex-direction: row;
	padding: 1em;

	&:last-child {
		border-bottom: none;
	}
}

.score-summary-photo {
	flex: 1;

	.photo {
		border: 1px solid $color-grey-med;
		border-radius: 50%;
		margin-right: 1em;
		overflow: hidden;

		img {
			display: block;
		}
	}
}

.score-summary-players {
	flex: 5;

	.scorer {
		display: block;
		font-weight: 700;

		.name {
			margin-right: 0.5em;
		}

		.desc {
			font-size: 0.8em;
			font-weight: normal;
		}
	}

	.assists {
		display: block;
		font-size: 0.8em;
	}
}

.score-summary-game {
	flex: 1;

	.score {
		border: 1px solid;
		display: block;
		font-size: 0.9em;
		white-space: nowrap;

		span {
			display: inline-block;
			padding: 0 5px;
		}
	}

	.time {
		display: block;
		font-size: 0.8em;
		text-align: center;
	}
}
