
// Player photos
// -----------------------------------------------------------------+

.photo-container {
	background: url($image-path+'/player-profile.png') center center no-repeat;
	background-size: contain;
	border: 1px solid $color-grey-med;
	border-radius: 50%;
	display: block;
	height: 6vw;
	margin: auto;
	max-height: 120px;
	max-width: 120px;
	min-height: 60px;
	min-width: 60px;
	overflow: hidden;
	width: 6vw;

	.photo {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: 100%;
		width: 100%;
	}
}

// Team logos
// -----------------------------------------------------------------+

.team-logo {
	max-height: 100%;
	max-width: 100%;
}
