
// Player photos
// -----------------------------------------------------------------+

.photo {
	border: 1px solid $color-grey-med;
	border-radius: 50%;
	display: block;
	height: 6vw;
	margin: auto;
	max-height: 120px;
	max-width: 120px;
	min-height: 60px;
	min-width: 60px;
	overflow: hidden;
	width: 6vw;

	img {
		display: block;
	}
}

// Team logos
// -----------------------------------------------------------------+

.team-logo {
	max-height: 100%;
	max-width: 100%;
}
