
// Schedule View
// -----------------------------------------------------------------+

.schedule-nav {
	border: 1px solid $color-grey-dark;
	display: flex;
	font-weight: 700;
	margin-bottom: 3em;
	text-align: center;
	text-transform: uppercase;

	li {
		display: flex;
		flex: 1;
		margin: 0;

		a {
			background: $color-grey-dark;
			color: $color-white;
			display: block;
			padding: 5px;
			text-decoration: none;
			transition: all $anim-speed $anim-ease;
			width: 100%;

			&:hover,
			&:focus {
				background: $color-grey-light;
				color: $color-grey-dark;
			}
		}

		span {
			background: $color-white;
			color: $color-grey-dark;
			display: block;
			padding: 5px;
			width: 100%;
		}
	}
}
