
// Goals/Penalties by period
// -----------------------------------------------------------------+

.period-summary {
	color: $color-grey-dark;
	margin: 2em auto;
	width: 100%;
}

.period-summary-period {
	background: $color-white;
	margin-bottom: 2em;

	&:last-child {
		border-bottom: 1px solid $color-grey-med;
	}
}

.period-summary-item {
	align-items: center;
	border-bottom: 1px solid $color-grey-med;
	display: flex;
	flex-direction: row;
	font-size: 1.125rem;
	padding: 1em 2em;

	&:last-child {
		border-bottom: none;
	}

	> div {
		padding-left: 0.5em;
		padding-right: 0.5em;

		&.period-summary-logo {
			padding: 0;
		}
	}
}

.period-summary-title {
	background: $color-grey;
	color: $color-white;
	font-size: 1rem;
	margin: 0;
	padding: 0.5em 1em;
	width: 100%;
}

.period-summary-subtitle {
	background: $color-grey-light;
	color: $color-grey-dark;
	font-size: 1.125rem;
	font-weight: 700;
	margin: 0;
	padding: 0.5em 1em;
	text-transform: uppercase;
}

.period-summary-empty {
	padding: 1em 0;
}

.period-summary-time {
	text-align: center;
	width: 10%;
}

.period-summary-player-info {
	flex: 3;

	.period-summary-player {
		display: block;

		.period-summary-name {
			font-weight: 700;
		}

		span {
			margin-right: 0.5em;
		}

		.period-summary-goal-desc {
			font-size: 1rem;
		}

		.period-summary-goal-type {
			background: $color-grey-dark;
			border-radius: 3px;
			color: $color-white;
			font-size: 0.875rem;
			font-weight: 600;
			padding: 0 0.4em;
		}
	}

	.period-summary-details {
		display: block;
		font-size: 0.875rem;
	}
}

.period-summary-game-info {
	flex: 1;
	text-align: center;

	.period-summary-score {
		border: 1px solid;
		border-radius: 3px;
		display: flex;
		font-size: 0.875rem;
		font-weight: 600;
		white-space: nowrap;

		span {
			width: 50%;
		}
	}
}
