
// SVG icons
// -----------------------------------------------------------------+

#svg-defs {
	@include offscreen();
}

.svg-icon {
	display: inline-block;
	fill: $color-grey-dark;
	height: 1rem;
	line-height: 1rem;
	transition: all $anim-speed $anim-ease;
	vertical-align: middle;
	width: 1rem;
}
