
// Base Typography
// -----------------------------------------------------------------+

body {
	color: $color-text-default;
	font-family: $font-main;
	// uncomment appropriate line to set default type size
	font-size: 100%; //16px
	// font-size: 87.5%; //14px
	// font-size: 75.0%; //12px
	// font-size: 62.5%; //10px
	line-height: 1.5; //24px

	// Tablet + Desktop +
	@media (min-width: $breakpoint-tablet-min) {
		font-size: 87.5%; //14px
		line-height: 1.5; //21px
	}
}

a {
	color: $color-link;

	&:focus,
	&:hover {
		color: $color-link-hover;
	}
}

p,
ul,
ol,
dl,
table,
address {
	margin-bottom: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}

dd {
	margin-bottom: 0.5em;
}

th {
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
}

td {
	vertical-align: top;
}

h1 {
	color: $color-white;
	font-size: 32px;
	font-weight: 800;
	line-height: 1;
	margin: 0;
}

h2,
.h2 {
	color: $color-title;
	font-size: 24px;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 0.2em;
}

// Tablet + Desktop +
@media (min-width: $breakpoint-tablet-min) {
	h1 {
		font-size: 40px;
	}

	h2,
	.h2 {
		font-size: 30px;
	}
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: bold;
	line-height: 1;
	margin-bottom: 0.2em;
}

h3,
.h3 {
	font-size: 1.3em;
}

h4,
.h4 {
	font-size: 1.1em;
}

h5,
.h5 {
	font-size: 1em;
}

h6,
.h6 {
	font-size: 1em;
	font-weight: normal;
}

hr {
	border-top: 2px solid $color-grey;
	margin: 1.5em 0;
}
